{{define "artist"}}

{{ template "header" }}

<div id="gradient"></div>
<div id="card-artist">
    <img src="{{ .Image }}" alt="">
    <div class="content">
        <h1>{{ .Name }}</h1>
        <p>Established {{ .CreationDate}}</p>

        {{ if ne (len .Members) 1 }}
        <h2>Members</h2>
        {{ range $i, $v := .Members }}
        <p>{{$v}}</p>
        {{end}}
        {{end}}

        <h2>First Album:</h2>
        <p>{{ .FirstAlbum }}</p>

        <h2>Creation Date:</h2>
        <p>{{ .CreationDate }}</p>

        <div>
            <h2>Best Concerts</h2>
            {{ range $location, $date := .DatesLocations }}
            <p><strong>{{ $location }}</strong>:</p>

            <ul>
                {{ range $i, $v := $date }}
                <li>{{$v}}</li>
                {{end}}
            </ul>
            {{ end }}
        </div>
    </div>
</div>
{{ template "footer" }}
{{ end }}